* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* header {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/snow.jpeg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: .5;
} */




.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    /* text-decoration: none;
    color: white; */
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    text-transform: capitalize;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


.logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 40px;

}

.first {
    height: 65vh;
    width: 100%;
    /* background-image: url("assets/trees.jpeg");
    background-size: cover;
    background-position: center; */
}
.cf {
    /* position:relative; */
    margin:0 auto;
  }
  
  .cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
    /* image is responsive when height is auto */
    height: 70%;
    width: 100%;
    opacity: .5;
  }
  
  .cf img.top:hover {
    opacity: 0;
  }
  /* @keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }
  
  #cf3 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  } */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;

}

/* .logo{
    color: white;
    font-size: 35px;
    letter-spacing: 10px;
    cursor: pointer;
} */

/* span{
    color: #f9004d;
} */

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    text-transform: capitalize;
}

nav ul li a:hover{
    transition: .4s;

}

.resume-btn{
    background-color: #105d63;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.resume-btn:hover{
    transform: scale(1.2);
}

/* .logo img{
    height: 10%;
    width: 10%;
    border-radius: 50%;

} */

.me{
    position: absolute;
    top: 35%;
    left: 8%;
    /* transform: translate(-50%); */

}

h1.name{
    color: black;
    font-size: 70px;
    margin-left: 445px;

    
}

h3.tag{
    color: rgb(16, 63, 71);
    font-size: 30px;
    margin-left: 450px;
    font-weight: 400;
    
}

h4.hi{
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 450px;
    font-weight: 500;
}


.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;

}

.about img{
    height: auto;
    width: 430px;
}

/* .about-text{
    width: 550px;
} */
.container {
    /* width: 90%;
    margin: 50px auto 0; */
    /* margin-left: 10%; */
    margin-top: 0%;
    width: 100%;
    max-width: 500px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    /* background:rgb(105, 149, 207); */
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;

}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.about .row {
    margin-top: 10px;
}

body , html {
    overflow-x: hidden;
}


h1.skillsbar{
    font-size: 35px;
}
/* .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.main h1{
    font-size: 35px;
} */
h2.aboutme{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

h5.slogan{
    color: black;
    letter-spacing: 2px;
    font-size: 26px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 100;
}

p.summary{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 45px;
    font-weight: 100;
}

/* Bars show if it's a container */


li.content-bar {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;

}


li.content-bar:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(13, 68, 71, 0.5);
    border-radius: 1000px;
}

li.content-bar:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #105d63;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html:after {
    animation-name: html;
}
@keyframes html {
    to {
        width: 80%;
    }
}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}
li.javascript:after {
    animation-name: javascript;
}

@keyframes javascript {
    to {
        width: 60%;
    }
}
li.react:after {
    animation-name: react;
}

@keyframes react {
    to {
        width: 40%;
    }
}
li.python:after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 60%;
    }
}

.more{
    background: grey;
    width: 100%;
    padding: 100px 0px;
}

.more-projects{
    background: rgb(207, 223, 230);
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 65px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(105, 149, 207);
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.info p{
    color: white;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: rgb(105, 149, 207);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    display: inline-block;
}

/* button styling confusing w/out about-text*/
.about-text button{
    background-color: rgb(105, 149, 207);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    margin-left: 390px;
    transition: transform .4s;
}
.about-text button:hover{
transform: scale(1.2);
}

span{
    color: rgb(36, 142, 204);
    font-weight: 350;
}
.linkedin{
    display: flex;
    margin-left: 455px;
    margin-top: 10px;
    transition: transform .4s;
}

.linkedin a:hover{
    transform: scale(1.2);
    color: #153b80;
}
.facebook{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    transition: transform .4s;
}

.facebook a:hover{
    transform: scale(1.2);
    color: #1c59a8;
}
.instagram{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    transition: transform .4s;
}

.instagram a:hover{
    transform: scale(1.2);
    color: #a73097;
}

.social{
    display: flex;
}

.social a{
  
    text-decoration: none; 
    font-size: 35px;
    color: rgb(65, 63, 63);
}

footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    color: white;
    font-weight: 500;
    font-size: larger;
    text-transform: capitalize;
    text-align: center;
}

 .anusha{
    border-radius: 50%;
    margin-bottom: 15%;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
/* NEW CARDS */
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #07225c 40%, #4c97c9 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* NEW FOOTER */
/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  section {
      width: 80%;
      margin: 80px auto;
  }

